body{
  background-image: url(../images/background.jpg);  
  background-position: center center fixed;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;  
}
.navbar {
  color: white;
}
.hide {
  display: none;
}
.alignment {
  text-align: center;
  align-items: center;
  float: center;
  padding: 20px;
}